  *{              /*reset css*/
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    
  }
  html{
        width: 100%;
        height: 100%;
        scroll-behavior: smooth;  
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 8px;
        background-color: #28baa999;
  }
  .cursor_pointer{
    cursor: pointer;
  }
  #toanvjppro {
    display: table;
    /* Important */
    width: 100%;
    height: 739px;
    border-radius: 8px;
    border: 3px dashed #345;
    padding: 10px;
  }
  
  #center_of {
    display: table-cell;
    /* Important */
    vertical-align: middle;
    /* Important */
  }
  
